@import url("../responsive/landing-page/landing-mobile.css");
@import url("../responsive/landing-page/landing-tablet.css");
@import url("../responsive/landing-page/landing-desktop.css");

/*** LANDING PAGE ***/

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}


/* body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    max-width: 1300px;
    margin: 0 auto;
} */


/* p {
    margin-bottom: 0;
    padding: 0.5vw;
} */


/* img {
    padding-right: 1rem;
} */


/*** HEADER ***/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}

header img {
    margin-left: 50px;
}

nav {
    width: 50%;
    display: flex;
    justify-content: right;
}

nav a {
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
}

nav a:hover,
nav a.active {
    background-color: rgb(254, 20, 47);
    color: #ffffff;
    border-radius: 8px;
    transition: color .3s ease-in, background-color .3s ease-in;
}


/* .topnav {
    overflow: hidden;
    margin: 3.5%;
} */


/* .header-logo {
    float: left;
} */


/* .main-navbar {
    float: right;
} */


/* .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: Roboto, sans-serif;
} */


/* .topnav a:hover {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
} */


/* .topnav a.active {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
} */


/* .topnav .icon {
    display: none;
} */


/*** MAIN ***/

main {
    margin: 50px 250px;
    padding: 50px 50px 85px;
    /* height: ; */
    background: rgba(35, 35, 35, 1) no-repeat right/55% url("../../assets/img/bg_img.jpg");
    /* background: center / contain no-repeat url("../../assets/img/bg_img.jpg"), rgba(35, 35, 35, 1); */
    border-radius: 8px;
    color: #fff;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
}


/* .hero-content {
    margin-bottom: 20px;
} */

.hero-headline {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 7.25em;
    font-weight: normal;
}

.hero-text {
    margin: 73px 0;
    font-size: 1.75em;
    max-width: calc(40% - 25px);
}

.btn {
    padding: 15px 30px;
    background-color: rgb(254, 20, 47);
    border-radius: 8px;
    font-size: 1.8em;
    transition: background-color .3s ease-in;
}

.btn:hover {
    background-color: #3876ac;
    transition: background-color .3s ease-in;
}


/* main {
    font-size: 130%;
    font-weight: bolder;
    color: black;
    padding-top: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1px 20px 15px;
    border-radius: 2rem;
    text-align: justify;
} */


/* .hero-section {
    min-height: 93vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
} */


/* .hero-content {
    padding: 51px 67px;
    grid-column: span 4;
    background: #232323;
    color: #fff;
    position: relative;
    text-align: left;
    min-width: 424px;
} */


/* .hero-content::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #232323;
    position: absolute;
    right: -80px;
    top: 0;
} */


/* .hero-content>* {
    position: relative;
    z-index: 1;
} */


/* .hero-headline {
    font-size: 6rem;
    font-weight: normal;
    white-space: nowrap;
} */


/* .hero-text {
    width: 146%;
    font-weight: normal;
    margin-top: 57px;
    padding: 0;
} */


/* .btn-signup {
    outline: none;
    text-transform: capitalize;
    font-size: 1.3rem;
    padding: 15px 23px;
    margin: 0;
    margin-top: 59px;
} */


/* .btn-submit,
.btn-signup {
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
} */


/* .hero-img {
    grid-column: span 8;
} */


/* .hero-img img {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
} */


/* .hero-section>.btn-signup {
    display: none;
} */


/* .modal-btn {
    font-size: 145%;
    background: #fe142f;
    display: flex;
    margin: auto;
    padding: 2em;
    color: #fff;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
} */


/* .modal-btn:hover {
    background: #3876ac;
} */


/*** FOOTER ***/

footer {
    padding: 65px 40px;
}

.copyright {
    color: rgb(254, 20, 47);
    font-size: 1.2em;
}


/* .copyrights {
    color: #fe142f;
    padding: 0;
    font-size: 1rem;
    margin: 60px 0 30px;
    font-weight: bolder;
} */


/* .footer {
    margin: 20px;
    padding: 10px;
} */


/* footer {
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0 20px;
} */