/* MODAL FORM */

label,
.text-label {
    font-size: .9em;
}

input {
    height: 30px;
    font-size: .9em;
}

.btn-submit,
.btn-close {
    padding: 8px 30px;
    font-size: 1em;
    height: auto;
    margin: 0 auto;
}

.confirmation-content h2 {
    font-size: 2em;
}


/* ERRORS */

.formData[data-error]::after,
.formRadio[data-error]::after {
    content: attr(data-error);
    font-size: 0.8em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after,
.formRadio[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control,
.formRadio[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}

input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
}