/* MODAL FORM */

.modal-bg {
    top: 78px;
}

.modal-wrapper {
    margin-top: 20px;
    height: 100%;
}

.modal-body {
    margin: 0;
}

.formData {
    margin: 10px 0;
}

label,
.text-label {
    color: #fff;
    font-size: .7em;
}

input {
    height: 20px;
    font-size: .8em;
}

.radio-input,
.checkbox-input {
    width: 20px;
    height: 20px;
}

.checkbox-input::before {
    left: -2px;
}

.checkbox-input::after {
    left: -1px;
}

.btn-submit {
    /* width: fit-content;
    display: block;
    margin: 20px auto 0; */
    padding: 8px 30px;
    font-size: .8em;
    height: auto;
}

.confirmation-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 740px;
}

.btn-close {
    width: fit-content;
    display: block;
    margin: 20px auto 0;
    padding: 15px 60px;
    font-size: 1.1em;
    position: absolute;
    bottom: 0;
}


/* ERRORS */

.formData[data-error]::after,
.formRadio[data-error]::after {
    content: attr(data-error);
    font-size: 0.8em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after,
.formRadio[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control,
.formRadio[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}

input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
}