/* MODAL FORM */

label,
.text-label {
    font-size: .9em;
}

input {
    height: 30px;
    font-size: .9em;
}

.btn-submit,
.btn-close {
    padding: 8px 30px;
    font-size: 1em;
    height: auto;
    margin: 0 auto;
}

.confirmation-content h2 {
    font-size: 2em;
}